In [1]:
Lawyers = read.csv("Lawyers.csv", header = TRUE)

In [2]:
str(Lawyers)

'data.frame':	71 obs. of  7 variables:
 $ Seniority: Factor w/ 2 levels "Associate","Partner": 2 2 2 2 2 2 2 2 2 2 ...
 $ Gender   : Factor w/ 2 levels "Female","Male": 2 2 2 2 2 2 2 2 2 2 ...
 $ Office   : Factor w/ 3 levels "Boston","Harvard",..: 1 1 2 1 2 2 2 1 1 1 ...
 $ Years    : int  31 32 13 31 31 29 29 28 25 25 ...
 $ Age      : int  64 62 67 59 59 55 63 53 53 53 ...
 $ Practice : Factor w/ 2 levels "Corporate","Litigation": 2 1 2 1 2 2 1 2 1 1 ...
 $ School   : Factor w/ 3 levels "Harvard or Yale",..: 1 1 1 2 3 1 2 2 1 2 ...

In [3]:
head(Lawyers)

  Seniority Gender Office  Years Age Practice   School
1 Partner   Male   Boston  31    64  Litigation Harvard or Yale
2 Partner   Male   Boston  32    62  Corporate  Harvard or Yale
3 Partner   Male   Harvard 13    67  Litigation Harvard or Yale
4 Partner   Male   Boston  31    59  Corporate  Other
5 Partner   Male   Harvard 31    59  Litigation University of Connecticut
6 Partner   Male   Harvard 29    55  Litigation Harvard or Yale

## Load the lawyersâ€™ data into R. What proportion of the lawyers practices litigation law? (Give your answer to 2 decimal places.)

In [5]:
litPract <- subset(Lawyers, Practice=='Litigation')

head(litPract)

In [ ]:
## Use the aggregate function to compute the average age of lawyers who practice
corporate law and of lawyers who practice litigation law, across the different levels
of seniority. Label the columns of the resulting data frame appropriately.

In [8]:
# Calculate mean and standard deviation of days absent by learner status and sex using aggregate
Avg_Age<-aggregate(Lawyers$Age, list(Lawyers$Practice, Lawyers$Seniority), mean)
colnames(Avg_Age) <- c('Practice', 'Seniority', 'Average_Age')
Avg_Age

In [9]:
colnames(Avg_Age) <- c('Practice', 'Seniority', 'Average_Age')

In [10]:
Avg_Age

  Practice   Seniority Average_Age
1 Corporate  Associate 36.71429
2 Litigation Associate 34.61905
3 Corporate  Partner   48.50000
4 Litigation Partner   47.70000

In [11]:
Off_Age<-Lawyers[,c("Office","Age")]
YMA_Office<-tapply(Off_Age$Age, Off_Age$Office, median)