In [9]:
library(MASS)
data(quine)
str(quine)
head(quine)

'data.frame':	146 obs. of  5 variables:
 $ Eth : Factor w/ 2 levels "A","N": 1 1 1 1 1 1 1 1 1 1 ...
 $ Sex : Factor w/ 2 levels "F","M": 2 2 2 2 2 2 2 2 2 2 ...
 $ Age : Factor w/ 4 levels "F0","F1","F2",..: 1 1 1 1 1 1 1 1 2 2 ...
 $ Lrn : Factor w/ 2 levels "AL","SL": 2 2 2 1 1 1 1 1 2 2 ...
 $ Days: int  2 11 14 5 5 13 20 22 6 6 ...

  Eth Sex Age Lrn Days
1 A   M   F0  SL   2
2 A   M   F0  SL  11
3 A   M   F0  SL  14
4 A   M   F0  AL   5
5 A   M   F0  AL   5
6 A   M   F0  AL  13

In [16]:
# Use the colnames function to give it some more helpful column names
colnames(quine) <- c('Ethnicity', 'Sex', 'Age', 'LearnerStatus', "DaysAbsent")
# ...and check it's worked
head(quine)

  Ethnicity Sex Age LearnerStatus DaysAbsent
1 A         M   F0  SL             2
2 A         M   F0  SL            11
3 A         M   F0  SL            14
4 A         M   F0  AL             5
5 A         M   F0  AL             5
6 A         M   F0  AL            13

In [17]:
# Use table on the ethnic background variable. 
# What ethnicity is most prevalent in the data set?
table(quine$Ethnicity) # Most are not Aboriginal

 A  N
69 77

In [22]:
# Change the age and the learner variable to be ordered factors. 
# Have a look at the structure then.
quine$Age <- factor(quine$Age,ordered=TRUE)
quine$LearnerStatus <- factor(quine$LearnerStatus, levels = c('SL', "AL"), ordered = TRUE)
str(quine)
head(quine)

'data.frame':	146 obs. of  5 variables:
 $ Ethnicity    : Factor w/ 2 levels "A","N": 1 1 1 1 1 1 1 1 1 1 ...
 $ Sex          : Factor w/ 2 levels "F","M": 2 2 2 2 2 2 2 2 2 2 ...
 $ Age          : Ord.factor w/ 4 levels "F0"<"F1"<"F2"<..: 1 1 1 1 1 1 1 1 2 2 ...
 $ LearnerStatus: Ord.factor w/ 2 levels "SL"<"AL": 1 1 1 2 2 2 2 2 1 1 ...
 $ DaysAbsent   : int  2 11 14 5 5 13 20 22 6 6 ...

  Ethnicity Sex Age LearnerStatus DaysAbsent
1 A         M   F0  SL             2
2 A         M   F0  SL            11
3 A         M   F0  SL            14
4 A         M   F0  AL             5
5 A         M   F0  AL             5
6 A         M   F0  AL            13

In [23]:
# Use table to tabulate the learner ability and the ethnicity
table(quine$Learn, quine$Ethnicity, deparse.level = 2)

           quine$Ethnicity
quine$Learn  A  N
         SL 29 34
         AL 40 43

In [24]:
# How many children in the study are slow learners? 63
addmargins(table(quine$Learn, quine$Ethnicity, deparse.level = 2))

           quine$Ethnicity
quine$Learn A  N  Sum
        SL  29 34  63
        AL  40 43  83
        Sum 69 77 146

In [ ]:
# Use tapply to calculate the mean and sd of number of days off by ethnicity
options(error=recover)
tapply(quine$DaysAbsent, quine$Ethnicity, mean)
tapply(quine$DaysAbsent, quine$Ethnicity, sd)

In [34]:
# Calculate mean and standard deviation of days absent by learner status and sex using aggregate
aggregate(quine$DaysAbsent, list(quine$Learn, quine$Sex), mean)
aggregate(quine$DaysAbsent, list(quine$Learn, quine$Sex), sd)

  Group.1 Group.2 x
1 SL      F       16.67500
2 AL      F       13.77500
3 SL      M       18.39130
4 AL      M       17.72093

  Group.1 Group.2 x
1 SL      F       19.20255
2 AL      F       11.87647
3 SL      M       18.99220
4 AL      M       15.46321

In [37]:
head(quine$DaysAbsent)

[1]  2 11 14  5  5 13

In [40]:
# Cut days absent into 3 categories and produce a new table - how many scarily absent students?
cut.days <- cut(quine$DaysAbsent, c(0, 20, 60, 100), labels = c('few', 'medium', 'many'), ordered_result = TRUE, include.lowest = TRUE)
table(cut.days)

cut.days
   few medium   many
   104     39      3