In [1]:
rm(list=ls())

In [ ]:
library(gmp)

In [4]:
# for loop version
large <- 1000
num <- 0
for(i in 1:large) {
  if(isprime(i) == 2) {
    print(i)
    num <- num + 1
  }
  if(num == 10) break
}

[1] 2
[1] 3
[1] 5
[1] 7
[1] 11
[1] 13
[1] 17
[1] 19
[1] 23
[1] 29

In [16]:
library(MASS)
data(painters)
head(painters)
str(painters)

              Composition Drawing Colour Expression School
Da Udine      10           8      16      3         A
Da Vinci      15          16       4     14         A
Del Piombo     8          13      16      7         A
Del Sarto     12          16       9      8         A
Fr. Penni      0          15       8      0         A
Guilio Romano 15          16       4     14         A

'data.frame':	54 obs. of  5 variables:
 $ Composition: int  10 15 8 12 0 15 8 15 4 17 ...
 $ Drawing    : int  8 16 13 16 15 16 17 16 12 18 ...
 $ Colour     : int  16 4 16 9 8 4 4 7 10 12 ...
 $ Expression : int  3 14 7 8 0 14 8 6 4 18 ...
 $ School     : Factor w/ 8 levels "A","B","C","D",..: 1 1 1 1 1 1 1 1 1 1 ...

In [7]:
# What's the difference between these two?
painters$Colour>15 | painters$Expression>15
painters$Colour>15 || painters$Expression>15 # This is only the first one

In [10]:
# How many painters have a Colour or Expression score bigger than 15?
sum(painters$Colour>15 | painters$Expression>15) # 18

[1] 18

In [11]:
# How many painters have all scores bigger than 10?
sum(painters$Colour>10 & painters$Expression>10 & painters$Composition>10 & painters$Drawing>10) # 5

[1] 5

In [13]:
# 3. Define an elite painter as one who has a total score greater than 30. 
# Create a new variable using an ifelse statement to discover the number of elite or non-elite painters
totalscore <- apply(painters[,1:4], 1, sum)
elite <- ifelse(totalscore > 30, "elite", "non-elite")
# How many elite painters are there in this data set
sum(elite == "elite") # 46

     Da Udine      Da Vinci    Del Piombo     Del Sarto     Fr. Penni
           37            49            44            45            23
Guilio Romano
           49