In [1]:
Lawyers = read.csv("Lawyers.csv", header = TRUE)

In [2]:
str(Lawyers)

'data.frame':	71 obs. of  7 variables:
 $ Seniority: Factor w/ 2 levels "Associate","Partner": 2 2 2 2 2 2 2 2 2 2 ...
 $ Gender   : Factor w/ 2 levels "Female","Male": 2 2 2 2 2 2 2 2 2 2 ...
 $ Office   : Factor w/ 3 levels "Boston","Harvard",..: 1 1 2 1 2 2 2 1 1 1 ...
 $ Years    : int  31 32 13 31 31 29 29 28 25 25 ...
 $ Age      : int  64 62 67 59 59 55 63 53 53 53 ...
 $ Practice : Factor w/ 2 levels "Corporate","Litigation": 2 1 2 1 2 2 1 2 1 1 ...
 $ School   : Factor w/ 3 levels "Harvard or Yale",..: 1 1 1 2 3 1 2 2 1 2 ...

In [3]:
head(Lawyers)

  Seniority Gender Office  Years Age Practice   School
1 Partner   Male   Boston  31    64  Litigation Harvard or Yale
2 Partner   Male   Boston  32    62  Corporate  Harvard or Yale
3 Partner   Male   Harvard 13    67  Litigation Harvard or Yale
4 Partner   Male   Boston  31    59  Corporate  Other
5 Partner   Male   Harvard 31    59  Litigation University of Connecticut
6 Partner   Male   Harvard 29    55  Litigation Harvard or Yale

## Load the lawyersâ€™ data into R. What proportion of the lawyers practices litigation law? (Give your answer to 2 decimal places.)

In [4]:
litPract <- subset(Lawyers, Practice=='Litigation')